.footer {
  padding-block: fluid(100, 50) fluid(50, 20);
  background-color: var(--color-black-06);

  &__inner {
    display: grid;
    row-gap: fluid(100, 50);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: fluid-to-laptop(30, 20);
    row-gap: 30px;

    &-group {
      display: inline-flex;
      flex-direction: column;
      row-gap: fluid(24, 16);

      &:has(.footer__menu-group-button) {
        .footer__menu-group-list {
          grid-template-columns: repeat(3, 1fr);
          column-gap: fluid-to-laptop(14, 10);
        }
      }
    }

    &-group-list {
      display: grid;
      row-gap: fluid(14, 8);
    }

    &-group-link {
      color: var(--color-gray-60);
      font-weight: 500;
      line-height: 1.5;
    }

    &-group-button {
      padding: fluid(16, 12);
      border-radius: var(--border-radius-s);
      border: var(--border);
      background: var(--color-black-10);

      @include square(56px);
    }
  }

  &__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: fluid-to-laptop(24, 20);
    border-top: var(--border);

    @include mobile {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }

    &-links {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }

      & > * + * {
        padding-inline: fluid-to-laptop(20, 16);
        border-inline: var(--border);
      }

      & > *:first-child {
        padding-right: fluid-to-laptop(20, 16);
      }
      & > *:last-child {
        padding-left: fluid-to-laptop(20, 16);
      }
    }
  }
}
